<template name="home">
<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
	  <thead>
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Payment Status</th>
          <th>Fullfilment Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
	{{#each orders}}
        <tr>
          <td align="middle"><a href="/details/{{ id }}" class="view">{{name}}</a></td>
          <td>{{ created_at }}</td>
          <td>{{ billing_address.name }}</td>
          <td>{{ financial_status }}</td>
          <td>{{ fulfillment_status }}</td>
          <td>{{ total_price }} AED</td>
        </tr>
	{{/each}}
	</tbody>
</table>
</template>